<html>

<head>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div id="app">
            <!-- <blog-post title="My journey with Vue"></blog-post>
            <blog-post title="Blogging with Vue"></blog-post>
            <blog-post title="Why Vue is so fun"></blog-post> -->
            <hr>
            <blog-post v-for="post in posts"  
                v-bind:key="post.id" 
                v-bind:post="post"></blog-post>
            
    </div>
</body>

</html>
<script src="index.js"></script>